@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway.ttf);
  font-weight: 0 1000;
}

@font-face {
  font-family: RalewayItalic;
  src: url(fonts/Raleway-Italic.ttf);
  font-weight: 0 1000;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-weight: 400;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  user-select: none;
  color: var(--text-color);
}

a:visited,
a:active {
  color: var(--text-color);
}

.top {
  margin-top: 0;
  margin-left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--title-size);
  padding: var(--title-size);

  font-weight: 800;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-auto-rows: auto;
  grid-gap: var(--grid-padding);
  padding: var(--grid-padding);
}

.animation * {
  overflow: hidden;
  text-decoration: none;
}

.animation {
  display: grid;
  width: 100%;
  height: 100%;
  opacity: 0;
  aspect-ratio: 1;
  animation: fadeInUp 1s forwards;
}

.animation .preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1 / 1; /* both occupy the same grid cell */
  overflow: hidden;
}

.animation .description {
  grid-area: 1 / 1; /* overlaps with image */
  align-self: center;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  font-size: var(--text-size);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.animation:hover .description {
  opacity: 1;
  transition: opacity 0.3s;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 400px) {
}
