:root {
  --background-color: #0c0c0c;
  --text-color: #f5f2f2;
  --text-size: 1rem;
  --title-size: 2rem;
  --cell-size: 300px;
}

@media only screen and (max-width: 600px) {
  :root {
    --text-size: 1.5rem;
    --cell-size: 200px;
  }
}
