@font-face {
  font-family: Hack-Bold;
  src: url(fonts/Hack-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 90vh;
  width: 90vh;
  aspect-ratio: 1;

  touch-action: none;
}

@media only screen and (max-width: 600px) {
  #sketch {
    height: 90vw;
    width: 90vw;
  }
}
